/* 
#b9d6f2
#003559 
*/
@font-face {
    font-family: myFirstFont;
    src: url(./assets/fonts/OpenSans-Bold.ttf);
}

/*Top NAV*/
.topnav {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    overflow: visible;
}

.mainmenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.topnav a {
    float: left;
    color: #003559;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
}

a:visited{
    color: #003559;
}

.topnav dropdown {
    float: left;
    color: #003559;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: white;

}


.topnav dropdown:hover {
    background-color: #061a40;
    color: white;
}



.topnav a:hover {
    background-color: #061a40;
    color: white;
}

.topnavrev a {
    color: white;
    background-color: #061a40;
}

.topnavrev a:hover {
    color: #061a40;
    background-color: #b9d6f2;
}

.topnavrev dropdown {
    color: white;
    background-color: #061a40;
}

.topnavrev dropdown:hover {
    color: #061a40;
    background-color: #b9d6f2;
}

.topnav>* {
    font-family: myFirstFont;
}

.fontsizelarge {
    font-size: large;
    display: flex;
    align-items: center;
}
/* 
.fontsizelarge a {
    font-size: x-large;
}

.fontsizelarge dropdown {
    font-size: xx-large;
} */
/* 
.fontsizelarge a:nth-child(1) {
    font-size: x-large;
} */
#logo{
    font-size: x-large;
}

/* .fontsizelarge dropdown:nth-child(1) {
    font-size: large;
} */

/*---------------------------------------------------*/
.dropbtn {
    background-color: white;
    border: none;
    border-radius: 5px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #061a40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    display: flex;
    align-self: flex-start;

}

.dropdown-content a:hover {
    background-color: #061a40;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #061a40;
    color: white;
}