/* 
#b9d6f2
#003559 
*/
@font-face {
    font-family: myFirstFont;
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: mySecoundFont;
    src: url(../assets/fonts/HemicubeType_PERSONAL_USE_ONLY.ttf);
}

body {
    padding: 0;
    margin: 0;
}

#navbarsection {
    padding: 0;
    margin: 0;
}

#navbarsection>header {
    border-bottom: 1px solid #061a40;
}


#topnavbar {
    display: flex;
    justify-content: space-evenly;

}

#topnavbar>div {
    color: #003559;
    font-size: medium;
}

#topnavbar>div:nth-of-type(1) {
    font-family: mySecoundFont;
    font-size: larger;
}


#topnavbar>div>* {
    margin: 0;
    border-bottom: 5px solid white;
}

#topnavbar>div>*:hover {
    border-bottom: 5px solid #061a40;
}

#signup,
#contactus,
#home {
    color: #061a40;
    border: none;
    background-color: white;
}

#signup,
#home {
    font-weight: bolder;

}


/*Drop Down*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #061a40;
    padding: 12px 16px;
    text-decoration: none;
    text-align: start;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Full-width input fields */
#loginModal input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#loginModal button {
    background-color: #003559;


    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#loginModal button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
#loginModal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
#loginModal .imgcontainer {
    text-align: center;
    margin: 24px 0 24px 24px;
    position: relative;
}

#loginModal img.avatar {
    width: 40%;
    border-radius: 50%;
}

#loginModal .container {
    padding: 16px;
}

#loginModal span.psw {
    float: right;
    padding-top: 16px;
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
#loginModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
#loginModal .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#loginModal .close:hover,
#loginModal .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
#loginModal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}


/* ------------------Chart Modal---------------------- */

.ChartsModal {
    position: relative;
    z-index: -100;

    display: none;
    /* Hidden by default */
    /* position: fixed; */
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content-chart {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content-chart,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.closeChart {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeChart:hover,
.closeChart:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content-chart {
        width: 100%;
    }
}